/**********************************
  VARIABLES
**********************************/
$black: #151515;
$grey: #686868;
$white: #FAFAFA;

/**********************************
  RESET AND SCROLLBAR
**********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // firefox support
  scrollbar-color: black $white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 100vw;
  border: 0.25rem solid $white;

  &:hover {
    background-color: rgba($black, 0.85);
  }
}
/**********************************
  BASE STYLES
**********************************/
.body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  background-color: $white;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.container {
  width: min(100% - 2rem, 1360px);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  background-color: initial;
  border: initial;
  font-family: inherit;
  font-size: inherit;
}

.link {
  text-decoration: none;
}

.btn,
.link {
  color: inherit;
  transition: all 400ms;
}

.image {
  object-fit: cover;

  &--hero {
    width: min(100%, 450px);
    margin-inline: auto;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: 1200px) {
    &--hero {
      width: 480px;
      height: 640px;
      margin-inline: unset;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.arrow,
.arrow__icon {
  display: inline-block;
  transition: all 400ms;
}

.arrow__icon {
  transition: all 250ms;
}

.rotate {
  transform: rotate(180deg);
}

// Place at bottom of base styles to ensure style works when applied.
.hidden {
  display: none;
}

/**********************************
  HEADER
**********************************/
.header {
  height: 51px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $white;
}

.nav {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
  &__shadow,
  &__menu {
    height: 100%;
    position: fixed;
    right: 0;
  }

  &__shadow {
    width: 100%;
    background-color: rgba($black, 75%);
    z-index: 1;
    bottom: 0;
  }

  &__menu {
    width: min(100%, 240px);
    padding: 0 1.3125rem 2rem 1.5rem;
    overflow-y: scroll;
    background-color: $white;
    color: $grey;
    z-index: 2;
    top: 0;
  }

  &__list {
    list-style: none;
    margin-top: 4.875rem;

    &--secondary {
      list-style: none;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__item {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
    
    &--secondary {
      margin-bottom: 1rem;
      margin-left: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    &:hover,
    &:focus {
      color: $black;
    }
  }

  &__link--secondary {
    display: grid;
    grid-template-columns: 1.25rem 1fr;
  }

  &__icon {
    margin-right: 14px;
    justify-self: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-top: 1.3125rem;

    .logo {
      margin-right: 3.875rem;
    }

    &__shadow {
      display: none;
    }
  
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: initial;
      padding: 0;
      overflow-y: unset;
      height: initial;
      position: unset;
    }
  
    &__list {
      display: flex;
      margin-top: 0;
  
      &--secondary {
        width: max-content;
        position: absolute;
        background-color: $white;
        box-shadow: 0 10px 40px rgba(#000, 14.91%);
        border-radius: 0.625rem;
        padding: 1.5rem;
        margin-top: 1.25rem;
      }

      &--features {
        right: 0;
      }

      &--company {
        left: 0;
      }
    }
  
    &__item {
      margin-bottom: 0;
      margin-right: 2.5rem;

      &--list {
        position: relative;
      }
  
      &:last-of-type {
        margin-bottom: 0;
        margin-right: 0;
      }
      
      &--secondary {
        margin-left: 0;
      }
    }

    &__link--secondary {
      grid-template-columns: 1rem 1fr;
    }
  
    &__wrapper {
      flex-direction: row;
    }
  }
}

// Absolutely positioned to btn--hamburger.
// When toggling nav menu swap hamburger button to position fixed
.hamburger {
  background-color: $black;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  transition: all 500ms;
  position: absolute;
  left: 0;

  &--top {
    top: 3px;
  }

  &--bottom {
    bottom: 3px;
  }
}

// Toggled on click for .hamburger--top
.flip-top {
  top: 7px;
  transform: rotate(-225deg);
}

// Toggled on click for .hamburger--bottom
.flip-bottom {
  bottom: 7px;
  transform: rotate(-315deg);
}

/**********************************
  MAIN
**********************************/
.main {
  display: flex;
  flex-direction: column;
  width: min(100%, 1180px);
  margin-inline: auto;
  padding-top: 4.6875rem;
  padding-bottom: 5.875rem;

  &__context {
    order: 2;
    margin-top: 3rem;
    padding: 0 1rem;
    text-align: center;
  }

  &__wrapper {
  margin-bottom: 3rem;

    &--icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      row-gap: 1rem;
      justify-items: center;
    }    
  }

  &__heading {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
  }

  &__text {
    color: $grey;
    max-width: 36ch;
    margin-inline: auto; 
    margin-bottom: 1.5rem;
  }

  @media (min-width: 435px) {
    &__wrapper--icons {
      width: min(100%, 550px);
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto;
      row-gap: unset;
    }    
  }

  @media (min-width: 768px) {
    padding: 8.125rem 0;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    margin-block: auto;

    &__context {
      order: unset;
      margin-top: 6.5rem;
      margin-left: 2.1875rem;
      padding: 0;
      text-align: left;
    }
  
    &__wrapper {
    margin-bottom: 6.75rem;
    }

    &__wrapper--icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 477.63px;
      margin-inline: unset;
    }    
  
    &__heading {
      font-size: 5rem;
      line-height: 5rem;
      letter-spacing: -1.11px;
      margin-bottom: 3rem;

      .block {
        display: block;
      }
    }
  
    &__text {
      max-width: 42ch;
      margin-inline: unset; 
      margin-bottom: 3.1875rem;
    }
  }
}

/**********************************
  BUTTONS
**********************************/
.btn {

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--hamburger {
    height: 1rem;
    width: 1.25rem;
    position: relative;
    z-index: 3;

    &:hover,
    &:focus {
      .hamburger {
        background-color: $grey;
      }
    }
  }

  &--nav {
    .arrow {
      margin-left: 1rem;
    }

    &:hover,
    &:focus {
      color: $black;
      border-color: $black;

      .arrow__icon {
        stroke: $black;
      }
    }
  }

  &--login,
  &--register {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  &--login {
    margin-bottom: 1rem;
  }

  &--register {
    padding: 0.8125rem 0;
    width: min(100%, 195px);
    border: 2px solid $grey;
    border-radius: 0.875rem;
  }

  &--main {
    font-weight: 700;
    color: $white;
    background-color: $black;
    letter-spacing: -0.22px;
    border: 2px solid $black;
    border-radius: 0.9375rem;
    padding: 0.625rem 1.125rem 0.5rem 1.375rem;

    &:hover,
    &:focus {
      color: $black;
      background-color: $white;
    }
  }

  @media (min-width: 768px) {
    &--hamburger {
      display: none;
    }

    &--nav {
      .arrow {
        margin-left: 0.5rem;
      }
    }
    
    &--login {
      margin-bottom: 0;
      margin-right: 2.5rem;
    }

    &--register {
      padding: 0.8125rem 1.375rem 0.8125rem 1.4375rem;
      width: initial;
    }
  }

  @media (min-width: 1200px) {
    &--main {
      letter-spacing: -0.25px;
      padding: 0.9375rem 1.75rem 0.8125rem 1.9375rem;
    }
  }
}

/**********************************
  ANIMATIONS
**********************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.slide-in {
  animation: slide-in 500ms forwards;
}

.slide-out {
  animation: slide-out 500ms forwards;
}

.fade-in {
  animation: fade-in 500ms forwards;
}

.fade-out {
  animation: fade-out 500ms forwards;
}